<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contacto.md</title>
</head>
<body>
    <h1>contacto.md</h1>
    <div>
        <h1>Contacto</h1>
<h2>Si deseas ponerte en contacto conmigo, puedes hacerlo a través de los siguientes medios:</h2>
<h3><strong>Correo Electrónico:</strong></h3>
<ul>
<li><strong>Email</strong>: <a href="mailto:contacto@miportafolio.com">contacto@miportafolio.com</a></li>
</ul>
<h3><strong>Redes Sociales:</strong></h3>
<ul>
<li><strong>Twitter</strong>: <a href="https://twitter.com/miusuario">@miusuario</a></li>
<li><strong>LinkedIn</strong>: <a href="https://www.linkedin.com/in/miusuario/">miusuario</a></li>
</ul>
<h3><strong>Dirección Física:</strong></h3>
<p>Calle Ejemplo 123, Ciudad, País</p>
<hr />
<p><em>¡Espero tu mensaje!</em></p>
    </div>
</body>
</html>